<p>
  <strong><%= Cliente.human_attribute_name :name %>:</strong>
  <%= @cliente.name %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :cpf %>:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :cnpj %>:</strong>
  <%= @cliente.cnpj %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :situacao %>:</strong>
  <%= @cliente.situacao.name %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :logradouro %>:</strong>
  <%= @cliente.logradouro %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :numero %>:</strong>
  <%= @cliente.numero %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :complemento %>:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :bairro %>:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :cidade %>:</strong>
  <%= @cliente.cidade %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :estado %>:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :cep %>:</strong>
  <%= @cliente.cep %>
</p>
<p>
  <strong><%= Cliente.human_attribute_name :telefone %>:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :celular %>:</strong>
  <%= @cliente.celular %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :fax %>:</strong>
  <%= @cliente.fax %>
</p>

<p>
  <strong><%= Cliente.human_attribute_name :comentario %>:</strong>
  <%= @cliente.comentario %>
</p>




<%= go_back_to_list %>