<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cliente.name %>
</p>

<p>
  <b>Cpf:</b>
  <%= @cliente.cpf %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @cliente.cnpj %>
</p>

<p>
  <b>Situacao</b>
  <%= @cliente.situacaos.name %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @cliente.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @cliente.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @cliente.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @cliente.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @cliente.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @cliente.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @cliente.cep %>
</p>

<p>
  <b>Comentario:</b>
  <%= @cliente.comentario %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.celular %>
</p>

<p>
  <b>Fax:</b>
  <%= @cliente.fax %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
