<h3 class="heading"><%= t('activerecord.models.assunto_processual') %></h3>

<div class="tabbable">
	<%=render partial: 'shared/tabs_crud_header' %>
	<%=render partial: 'shared/tabs_crud_body' %>
</div>

<%=render partial: 'import/modal_form', locals: {class_to_import: 'AssuntoProcessual'} %>


<% content_for(:footer) do %>
<%= javascript_include_tag 'assunto_processuals', 'assunto_processuals_datatable' %>
<% end -%>