<p>
  <strong><%= Escritorio.human_attribute_name :name %>:</strong>
  <%= @escritorio.name %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :cnpj %>:</strong>
  <%= @escritorio.cnpj %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :ie %>:</strong>
  <%= @escritorio.ie %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :logradouro %>:</strong>
  <%= @escritorio.logradouro %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :numero %>:</strong>
  <%= @escritorio.numero %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :complemento %>:</strong>
  <%= @escritorio.complemento %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :bairro %>:</strong>
  <%= @escritorio.bairro %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :cep %>:</strong>
  <%= @escritorio.cep %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :cidade %>:</strong>
  <%= @escritorio.cidade %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :estado %>:</strong>
  <%= @escritorio.estado %>
</p>
<p>
  <strong><%= Escritorio.human_attribute_name :telefone %>:</strong>
  <%= @escritorio.telefone %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :celular %>:</strong>
  <%= @escritorio.celular %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :fax %>:</strong>
  <%= @escritorio.fax %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :advogados %>:</strong>
  <%= @escritorio.advogados %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :quemsomos %>:</strong>
  <%= @escritorio.quemsomos %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :missao %>:</strong>
  <%= @escritorio.missao %>
</p>

<p>
  <strong><%= Escritorio.human_attribute_name :valores %>:</strong>
  <%= @escritorio.valores %>
</p>



<%= go_back_to_list %>