<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @escritorio.name %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @escritorio.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @escritorio.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @escritorio.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @escritorio.bairro %>
</p>

<p>
  <b>Cep:</b>
  <%= @escritorio.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%= @escritorio.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @escritorio.estado %>
</p>

<p>
  <b>Advogados:</b>
  <%= @escritorio.advogados %>
</p>


<%= link_to 'Edit', edit_escritorio_path(@escritorio) %> |
<%= link_to 'Back', escritorios_path %>
