<p>
  <strong><%= Advogado.human_attribute_name :name %>:</strong>
  <%= @advogado.name %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :cpf %>:</strong>
  <%= @advogado.cpf %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :oab %>:</strong>
  <%= @advogado.oab %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :logradouro %>:</strong>
  <%= @advogado.logradouro %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :numero %>:</strong>
  <%= @advogado.numero %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :complemento %>:</strong>
  <%= @advogado.complemento %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :bairro %>:</strong>
  <%= @advogado.bairro %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :cidade %>:</strong>
  <%= @advogado.cidade %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :estado %>:</strong>
  <%= @advogado.estado %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :cep %>:</strong>
  <%= @advogado.cep %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :curriculo %>:</strong>
  <%= @advogado.curriculo %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :comentario %>:</strong>
  <%= @advogado.comentario %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :situacao %>:</strong>
  <%= @advogado.situacao %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :telefone %>:</strong>
  <%= @advogado.telefone %>
</p>

<p>
  <strong><%= Advogado.human_attribute_name :celular %>:</strong>
  <%= @advogado.celular %>
</p>


<%= go_back_to_list %>