<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @advogado.name %>
</p>

<p>
  <b>Cpf:</b>
  <%= @advogado.cpf %>
</p>

<p>
  <b>Oab:</b>
  <%= @advogado.oab %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @advogado.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @advogado.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @advogado.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @advogado.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @advogado.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @advogado.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @advogado.cep %>
</p>

<p>
  <b>Curriculo:</b>
  <%= @advogado.curriculo %>
</p>

<p>
  <b>Comentario:</b>
  <%= @advogado.comentario %>
</p>

<p>
  <b>Situacao:</b>
  <%= @advogado.situacao %>
</p>

<p>
  <b>Telefone:</b>
  <%= @advogado.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @advogado.celular %>
</p>


<%= link_to 'Edit', edit_advogado_path(@advogado) %> |
<%= link_to 'Back', advogados_path %>
