<p>
  <strong><%= FormaPagamento.human_attribute_name :name %>:</strong>
  <%= @forma_pagamento.name %>
</p>

<p>
  <strong><%= FormaPagamento.human_attribute_name :tipo_pagamento %>:</strong>
  <%= @forma_pagamento.tipo_pagamento %>
</p>


<%= go_back_to_list %>