<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @forma_pagamento.name %>
</p>

<p>
  <b>Tipo pagamento:</b>
  <%= @forma_pagamento.tipo_pagamento %>
</p>


<%= link_to 'Edit', edit_forma_pagamento_path(@forma_pagamento) %> |
<%= link_to 'Back', forma_pagamentos_path %>
