<p>
  <strong><%= Reu.human_attribute_name :name %>:</strong>
  <%= @reu.name %>
</p>
<p>
  <strong><%= Reu.human_attribute_name :advogado %>:</strong>
  <%= @reu.advogado.name %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :cpf %>:</strong>
  <%= @reu.cpf %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :cnpj %>:</strong>
  <%= @reu.cnpj %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :contato %>:</strong>
  <%= @reu.contato %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :logradouro %>:</strong>
  <%= @reu.logradouro %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :numero %>:</strong>
  <%= @reu.numero %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :complemento %>:</strong>
  <%= @reu.complemento %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :bairro %>:</strong>
  <%= @reu.bairro %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :cidade %>:</strong>
  <%= @reu.cidade %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :estado %>:</strong>
  <%= @reu.estado %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :cep %>:</strong>
  <%= @reu.cep %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :comentario %>:</strong>
  <%= @reu.comentario %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :telefone %>:</strong>
  <%= @reu.telefone %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :celular %>:</strong>
  <%= @reu.celular %>
</p>

<p>
  <strong><%= Reu.human_attribute_name :fax %>:</strong>
  <%= @reu.fax %>
</p>


<%= go_back_to_list %>