<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reu.name %>
</p>

<p>
  <b>Cpf:</b>
  <%= @reu.cpf %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @reu.cnpj %>
</p>

<p>
  <b>Contato:</b>
  <%= @reu.contato %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @reu.logradouro %>
</p>

<p>
  <b>Numero:</b>
  <%= @reu.numero %>
</p>

<p>
  <b>Complemento:</b>
  <%= @reu.complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @reu.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @reu.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @reu.estado %>
</p>

<p>
  <b>Cep:</b>
  <%= @reu.cep %>
</p>

<p>
  <b>Comentario:</b>
  <%= @reu.comentario %>
</p>

<p>
  <b>Telefone:</b>
  <%= @reu.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @reu.celular %>
</p>

<p>
  <b>Fax:</b>
  <%= @reu.fax %>
</p>


<%= link_to 'Edit', edit_reu_path(@reu) %> |
<%= link_to 'Back', reus_path %>
