<h3 class="heading"><%= t('activerecord.models.conta_corrente') %></h3>

<div class="tabbable">
	<%=render partial: 'shared/tabs_crud_header' %>
	<%=render partial: 'shared/tabs_crud_body' %>
</div>

<%=render partial: 'import/modal_form', locals: {class_to_import: 'ContaCorrente'} %>


<% content_for(:footer) do %>
<%= javascript_include_tag 'conta_correntes', 'conta_correntes_datatable' %>
<% end -%>