<p>
  <strong><%= TipoProcesso.human_attribute_name :name %>:</strong>
  <%= @tipo_processo.name %>
</p>

<p>
  <strong><%= TipoProcesso.human_attribute_name :formato %>:</strong>
  <%= @tipo_processo.formato %>
</p>


<%= go_back_to_list %>