<p>
  <strong><%= Processo.human_attribute_name :numero %>:</strong>
  <%= @processo.numero %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :ano %>:</strong>
  <%= @processo.ano %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :data_inicio %>:</strong>
  <%= @processo.data_inicio %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :data_fim %>:</strong>
  <%= @processo.data_fim %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :cliente %>:</strong>
  <%= @processo.cliente %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :reu %>:</strong>
  <%= @processo.reu %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :advogado %>:</strong>
  <%= @processo.advogado %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :local %>:</strong>
  <%= @processo.local %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :tipo_processo %>:</strong>
  <%= @processo.tipo_processo %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :custas %>:</strong>
  <%= @processo.custas %>
</p>

<p>
  <strong><%= Processo.human_attribute_name :honorarios %>:</strong>
  <%= @processo.honorarios %>
</p>


<%= go_back_to_list %>