<p>
  <strong><%= Contrato.human_attribute_name :name %>:</strong>
  <%= @contrato.name %>
</p>

<p>
  <strong><%= Contrato.human_attribute_name :valor %>:</strong>
  <%= @contrato.valor %>
</p>

<p>
  <strong><%= Contrato.human_attribute_name :forma_pagamento %>:</strong>
  <%= @contrato.forma_pagamento %>
</p>

<p>
  <strong><%= Contrato.human_attribute_name :saldo %>:</strong>
  <%= @contrato.saldo %>
</p>


<%= go_back_to_list %>