<p>
  <strong><%= AdvogadosEscritorio.human_attribute_name :escritorio %>:</strong>
  <%= @advogados_escritorio.escritorio %>
</p>

<p>
  <strong><%= AdvogadosEscritorio.human_attribute_name :advogado %>:</strong>
  <%= @advogados_escritorio.advogado %>
</p>


<%= go_back_to_list %>