<p>
  <strong><%= ContratosProcesso.human_attribute_name :contrato %>:</strong>
  <%= @contratos_processo.contrato %>
</p>

<p>
  <strong><%= ContratosProcesso.human_attribute_name :processo %>:</strong>
  <%= @contratos_processo.processo %>
</p>


<%= go_back_to_list %>