<h3 class="heading"><%= t('activerecord.models.contratos_processo') %></h3>

<div class="tabbable">
	<%=render partial: 'shared/tabs_crud_header' %>
	<%=render partial: 'shared/tabs_crud_body' %>
</div>

<%=render partial: 'import/modal_form', locals: {class_to_import: 'ContratosProcesso'} %>


<% content_for(:footer) do %>
<%= javascript_include_tag 'contratos_processos', 'contratos_processos_datatable' %>
<% end -%>