<p>
  <strong><%= TipoPagamento.human_attribute_name :name %>:</strong>
  <%= @tipo_pagamento.name %>
</p>

<p>
  <strong><%= TipoPagamento.human_attribute_name :periodicidade %>:</strong>
  <%= @tipo_pagamento.periodicidade %>
</p>


<%= go_back_to_list %>